/*Aztec chicken*/

.Aztecchicken1 {
    background-color: green;
    color: white;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

.AztecChicken2 {
    height: auto;
    width: 500px;
}

.head{
    font-size: 40px;
    color: white;
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

/* Brast Chicken */
.BreastSandwich1{
    background-color: green;
    color: white;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

.BreastSandwich2{
    height: auto;
    width: 500px;
}

.head{
    font-size: 40px;
    color: white;
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
/*grilled-chicken*/
.grilledgreekchicken1{
    background-color: green;
    color: white;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}


.head{
    font-size: 40px;
    color: white;
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
/*index*/

.body{
    font-size: 40px;
    color: white;
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}